@import "@styles/variables";

.root {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: $color_white;
  background: rgba($color_theme_dark, 0.99);
  backdrop-filter: blur(0.2rem);
}

.title {
  width: 100%;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 900;
  margin: 0 auto 0.5rem;
}

.description {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.75;
  margin: 0 auto 3rem;
}

.link {
  transition: $transition_color, $transition_background;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.9rem 1.4rem;
  border-radius: 2rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: $color_dark;
  background: $color_white;

  &:hover {
    color: $color_white;
    background: $color_dark;
  }

  &Icon {
    transform: scale(1.3);
    margin: 0 0.75rem 0 0;
  }
}
