@import "@styles/variables";

.search {
  width: 100%;
  margin: 6rem 0 4rem;
  background: yellowgreen;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include media_up($breakpoint_minibook) {
    margin: 2rem 0 4rem;
  }
}
