@import "@styles/variables";

.search {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 3rem 0 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include media_up($breakpoint_minibook) {
    margin: 1rem 0 4rem;
  }
}
