// media
@mixin media_down($width_as_rem) {
  @media only screen and (max-width: #{$width_as_rem}) {
    @content;
  }
}

@mixin media_up($width_as_rem) {
  @media only screen and (min-width: #{$width_as_rem}) {
    @content;
  }
}

// background colors
@mixin backgroundGradientLightGray($deg: 120) {
  background: $color_light;
  // stylelint-disable-next-line
  background: linear-gradient(
    #{$deg}deg,
    #fff,
    #fefefe,
    #fcfdfc,
    #fbfbfb,
    #fafafa,
    #f9f9f9,
    #f7f7f7,
    #f6f6f6,
    #f5f5f5,
    #f3f4f3,
    #f2f2f2,
    #f1f1f1
  );
}

@mixin backgroundGradientGreen($deg: 36) {
  background: $color_theme_green;
  background: linear-gradient(#{$deg}deg, #269360, #299f68, #2cac71, #2fb979, #32c682);
}

@mixin backgroundGradientDark($deg: 36) {
  background: $color_dark;
  background: linear-gradient(#{$deg}deg, #0e0e0e, #1e1e1e);
}

@mixin backgroundGradientNight($deg: 36) {
  background: $color_theme_dark;
  background: linear-gradient(#{$deg}deg, $color_theme_dark_hover, $color_theme_dark);
}
