// breakpoints
$breakpoint_min: 20rem; // 320px
$breakpoint_mobile: 34rem; // 544px
$breakpoint_tablet: 48rem; // 768px
$breakpoint_minibook: 64rem; // 1024px
$breakpoint_laptop: 75rem; // 1200px
$breakpoint_pc: 84rem; // 1344px
$breakpoint_max: 240rem; // 3840px

// colors
$color_black: #000;
$color_white: #fff;
$color_dark: #1e1e1e;
$color_light: #f8f8f8;
$color_theme_gray_primary: #6f6f6f;
$color_theme_gray_secondary: #919191;
$color_theme_gray_blue: #515e64;
$color_theme_dark: #2b3b42;
$color_theme_dark_hover: darken($color_theme_dark, 5%);
$color_theme_light: #f4f4f4;
$color_theme_light_hover: darken($color_theme_light, 10%);
$color_theme_green: #32c682;
$color_theme_green_hover: darken($color_theme_green, 10%);
$color_theme_red: #ff5549;
$color_theme_red_hover: darken($color_theme_red, 10%);
$color_theme_yellow: #eebf31;
$color_theme_yellow_hover: darken($color_theme_yellow, 10%);
$color_theme_blue: #26c0d3;
$color_theme_blue_hover: darken($color_theme_blue, 10%);
$color_code_dark: #1e1e1e;
$color_code_light: #dcdcdc;
$color_code_comment: #55a64a;
$color_code_string: #d69d85;
$color_code_number: #b5cea4;
$color_code_boolean: #569cd6;
$color_gray_100: darken($color_light, 5%);
$color_gray_200: darken($color_light, 10%);
$color_gray_300: darken($color_light, 15%);
$color_gray_400: darken($color_light, 20%);
$color_gray_500: darken($color_light, 25%);
$color_gray_600: darken($color_light, 30%);
$color_gray_700: darken($color_light, 35%);
$color_gray_800: darken($color_light, 40%);
$color_gray_900: darken($color_light, 45%);

// transitions
$transition_delay_base: 0.25s;
$transition_base: all 0.25s ease-in-out;
$transition_transform: transform 0.25s linear;
$transition_opacity: opacity 0.25s ease-in-out;
$transition_visibility: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
$transition_background: background 0.25s ease-in-out;
$transition_color: color 0.25s ease-in-out;
$transition_height: height 0.25s ease-in-out;

// box-shadows
$box_shadow_base: 0 0 2rem -1rem rgba($color_black, 0.2);
$box_shadow_30: 0 0 2rem -1rem rgba($color_black, 0.3);
$box_shadow_40: 0 0 2rem -1rem rgba($color_black, 0.4);
$box_shadow_50: 0 0 2rem -1rem rgba($color_black, 0.5);
$box_shadow_bottom_base: 0 0.5rem 2rem -1rem rgba($color_black, 0.2);
$box_shadow_bottom_30: 0 0.5rem 2rem -1rem rgba($color_black, 0.3);
$box_shadow_bottom_40: 0 0.5rem 2rem -1rem rgba($color_black, 0.4);
$box_shadow_bottom_50: 0 0.5rem 2rem -1rem rgba($color_black, 0.5);

// typography
$font_family_base: "Red Hat Display", sans-serif;
$font_family_code: "Inconsolata", monospace;
$font_size_base: 0.9rem;
$font_lineheight_base: 1.3;
$font_weight_base: 400;

// common variables
$header_height: 6.25rem;
$header_height_sticky: 5rem;

// mixins
@import "mixins";
