@import "variables";

// Reset: begin
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  max-width: $breakpoint_max;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  color: $color_dark;
  background: $color_white;
  font-family: $font_family_base;
  font-size: $font_size_base;
  line-height: $font_lineheight_base;
  font-weight: $font_weight_base;

  @include media_down(20rem) {
    min-width: 20rem !important;
  }
}

button,
a {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  text-decoration: none;
  background: transparent;
  padding: 0;
  border: none;
}

a[disabled],
button[disabled] {
  pointer-events: none;
}

img {
  font-size: 0.5rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  image-rendering: -webkit-optimize-contrast;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
option {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

b,
strong {
  font-weight: 500;
}

*::-webkit-scrollbar {
  height: 0.25rem;
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: rgba($color_black, 0.05);
}

*::-webkit-scrollbar-thumb {
  background: rgba($color_black, 0.2);
  cursor: pointer;
}

* {
  scrollbar-color: rgba($color_black, 0.2) rgba($color_black, 0.05);
  scrollbar-width: thin;
}
// Reset: end

// Code: begin
.code {
  position: relative;
  width: 100%;
  display: inline-block;
  font-family: $font_family_code;
  font-size: 0.75rem;
  line-height: 1.4rem;
  text-align: left;
  color: $color_code_light;
  background: $color_code_dark;
  border-radius: 0.6rem;
  white-space: nowrap;
  overflow: auto hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &--medium {
    font-size: 0.8rem;
  }

  &--large {
    font-size: 0.9rem;
  }

  &--html {
    color: $color_code_html;
  }

  &__lvl {
    &1,
    &2,
    &3,
    &4 {
      width: 100%;
      display: block;
      padding: 0.9rem 1.25rem;

      &::after {
        content: "___";
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }

    &2 {
      padding-left: 2.1rem;
    }

    &3 {
      padding-left: 2.95rem;
    }

    &4 {
      padding-left: 3.8rem;
    }

    &--pb0 {
      padding-bottom: 0;
    }

    &--pt0 {
      padding-top: 0;
    }

    &--py0 {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__comment {
    font-size: 94%;
    color: $color_code_comment;

    &::before {
      content: "// ";
    }

    &--full {
      &::before {
        content: "/* ";
      }

      &::after {
        content: " */";
      }

      &beginning {
        &::before {
          content: "/* ";
        }
      }

      &middle {
        &::before {
          content: "* ";
        }
      }

      &end {
        &::before {
          content: "*/";
        }
      }
    }

    &--html {
      &::before {
        content: "<!-- ";
      }

      &::after {
        content: " -->";
      }
    }
  }

  &__string {
    color: $color_code_string;
  }

  &__number {
    color: $color_code_number;
  }

  &__boolean {
    color: $color_code_boolean;
  }

  &__import {
    color: $color_code_import;
  }

  &__attr {
    color: $color_code_attr;
  }

  &__class {
    color: $color_code_class;
  }

  &__namespace {
    color: $color_code_namespace;
  }

  &__func {
    color: $color_code_func;
  }

  &__function {
    color: $color_code_function;
  }

  &__const {
    color: $color_code_const;
  }

  &__light {
    color: $color_code_light;
  }

  &__input {
    transition: $transition_opacity;
    opacity: 0.8;
    display: inline;
    padding: 0.3rem 0.5rem;
    color: $color_code_string;
    background: rgba($color_code_string, 0.2);
    border: 0.07rem dashed rgba($color_code_string, 0.6);
    border-radius: 0.4rem;
    font-family: inherit;
    font-size: inherit;

    &::placeholder {
      color: rgba($color_code_string, 0.6);
    }

    &--number {
      color: $color_code_number;
      background: rgba($color_code_number, 0.2);
      border-color: $color_code_number;

      &::placeholder {
        color: rgba($color_code_number, 0.6);
      }
    }

    &:focus,
    &:hover {
      opacity: 1;
    }
  }
}
// Code: end
