@import "@styles/variables";

.item {
  width: 100%;
  padding: 0 1.5rem 0 0;

  &:not(:last-child) {
    margin: 0 0 0.5rem;
  }

  &__head {
    position: sticky;
    z-index: 2;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: $color_white;
    padding: 0.5rem 0 0.75rem;

    &__button {
      transition: $transition_background, $transition_border;
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-size: 0.9rem;
      font-weight: 500;
      color: $color_white;
      background: $color_theme_dark;
      padding: 1rem 3.25rem 1rem 2rem;
      border-radius: 1.6rem;

      @include media_up($breakpoint_minibook) {
        font-size: 1rem;
      }

      &--active {
        border-radius: 1.6rem 1.6rem 0.125rem 0.125rem;
        background: $color_theme_green;
      }

      &:not(&--active):hover {
        background: $color_dark;
      }

      &__icon {
        position: absolute;
        top: 0;
        right: 1rem;
        bottom: 0;
        margin: auto;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__list {
    display: none;

    &--active,
    &--secondary {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 0.8rem;
    }

    &--secondary {
      margin-top: 0.3rem;
    }

    &:not(&--secondary) {
      padding: 0 1rem;
      margin: 0 0 1rem;
    }

    &__li {
      margin-left: 1rem;
      width: calc(100% - 1rem);
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &:not(:last-child) {
        margin-bottom: 0.6rem;
      }

      &--title {
        width: 100%;
        font-weight: 500;
        margin-left: 0;
        opacity: 0.4;
      }

      &:not(&--title):not(&--group) {
        transition: $transition_background, $transition_color;
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        font-family: $font_family_code;
        font-weight: 600;
        color: $color_theme_dark;
        background: $color_gray_150;

        &:hover {
          color: $color_white;
          background: $color_theme_dark;
        }
      }
    }
  }
}
