@import "@styles/variables";

.layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $header_height 0 0;

  &--home,
  &--notify,
  &--report,
  &--confirm,
  &--loading,
  &--block {
    padding: 0;
    @include backgroundGradientNight();
  }

  &--download,
  &--documentation {
    @include backgroundGradientLightGray();
  }
}
