@import "@styles/variables";

.root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include media_up($breakpoint_pc) {
    justify-content: flex-end;
  }
}

.ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.li {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem;

  @include media_up($breakpoint_mobile) {
    width: auto;
    justify-content: flex-start;
    margin: 1rem 1.4rem;
  }

  &:last-child {
    @include media_up($breakpoint_pc) {
      margin-right: 0;
    }
  }
}

.a {
  transition: $transition_color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem;
  font-weight: 500;
  color: $color_theme_green;

  &:hover {
    color: $color_light;
  }

  &.isProduct {
    color: $color_light;

    &:hover {
      color: $color_theme_green;
    }
  }

  svg {
    color: $color_theme_green;
    margin: 0 0.6rem 0 0;
  }
}
